@font-face {
    font-family: 'Radikal';
    src: url('/public/font/Radikal Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal';
    src: url('/public/font/Radikal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal';
    src: url('/public/font/Radikal Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal';
    src: url('/public/font/Radikal Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Radikal', sans-serif;
    }
}
